<section>
  
  <h2>Leaderboard</h2>
  
  <table>
    <thead>
      <tr>
        <th>Place</th>
        <th>Player</th>
        <th>Points</th>
        <th>CS</th>
        <th>CD</th>
        <th>CR</th>
      </tr>
    </thead>
    <tbody>
      {{#each table }}
      <tr>
        <td></td>
        <td><a href="/users/{{ id }}">{{ name }}</a></td>
        <td>{{ points }}</td>
        <td>{{ cs }}</td>
        <td>{{ cd }}</td>
        <td>{{ cr }}</td>
      </tr>
      {{/each }}
    </tbody>
  </table>
</section>