<section class="row">

  <div class="col-sm-10 col-md-8 col-md-offset-2">
    <h2>Goals</h2>

    <table class="f32 table table-sm">
      <thead>
        <tr>
          <th>Scorer</th>
          <th>Team</th>
          <th>Time</th>
          <th>Match</th>
        </tr>
      </thead>
      <tbody>
        {{#each goals }}
          <tr>
            <td>{{ scorer }}</td>
            <td class="flag {{ team.sname }}"><a href="/teams/{{ team.id }}">{{ team.name }}</a></td>
            <td>{{ time }}'{{#if type }}({{ type }}){{/if }}{{#if tao }} + {{ tao }}'{{/if }}
  </td>
            <td><a href="/matches/{{ match_id }}"><span class="fa fa-search" aria-hiddne="true"></span></a></td>
          </tr>      
        {{/each }}
      </tbody>
    </table>
    <p>See a <a href="/pages/goaltime">chart</a> of all goals by time scored.</p>
  </div>

</section>