<section class="row">

  <div class="col-sm-10 col-md-8 col-md-offset-2">
    {{#if league.pending }}
    <div>
      <p>This league is still awaiting approval from an admin.</p>
      <a href="/leagues">All user leagues</a>
    </div>
    {{ else }}
    <h2 data-lid="{{ league.id }}">{{ league.name }}</h2>
    <p>{{ league.description }}</p>
    <p>Created by <a href="/users/{{ league.user.id }}">{{ league.user.username }}</a></p>
    
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Place</th>
          <th>Player</th>
          <th>CS</th>
          <th>CD</th>
          <th>CR</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        {{#each table }}
        <tr class="{{#if sel }}selected{{/if }}">
          <td>{{ rank }}</td>
          <td><a href="/users/{{ uid }}">{{ name }}</a></td>
          <td>{{ cs }}</td>
          <td>{{ cd }}</td>
          <td>{{ cr }}</td>
          <td>{{ points }}</td>
        </tr>
        {{/each }}
      </tbody>
    </table>

    {{#if user }}
      {{#unless member }}
      <p>{{#unless league.public }}This league is private. Request to {{/unless }} <a href="/leagues/{{ league.id }}/join">Join</a> this league.</p>
      {{/unless }}
    {{/if }}
    
    {{#if owner }}
      {{>pending_league_user }}
    {{/if }}
    
    {{/if}}
  </div>

</section>

<script>
  $(document).ready(function() {
    $('#pending').on('click', '.decision', function(e) {
      var btn = $(this),
          row = btn.parent().parent(),
          dec = btn.data('decision'),
          lid = $('h2').data('lid'),
          uid = btn.data('uid');

      $.post('/leagues/' + lid + '/pending', { uid: uid, decision: dec })
        .done(function(res) {
          // response is updated rows
          console.log(res);
          // replace row with success message and fade it out
          row.empty().append();
        })
        .fail(function(e) {
          // if the update failed
          // replace row wth error message and fade it out
          console.log(e);
          row.empty().append();
        })
        .always(function() {
          // something that always gets done regardless
        })

    })
  })
</script>